<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About | UberEats</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/lightbox.min.css"> 
  <script type="text/javascript" src="jquery/lightbox-plus-jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png">
          UberEats <span class="navbar-kerala">Kerala</span> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">About Us</h1>
          <h2 class="masthead-subheading mb-0">From your Chef's kitchen, to your door step</h2>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="img/aboutbg.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-8 order-lg-1">
            <div class="p-5">
              <p>
                Uber Eats (previously stylized in UberEATS ) is a convenience food delivery service created by the founders of Uber . It works through a mobile app and a website, and is available in several countries around the world.

                This service is present in the four corners of the world: North America , South America , Europe , Australia , Asia and in some cities in Africa 1 .
                
                Uber Eats charges a flat ₹15/- delivery fee on behalf of the restaurant / courier, for each order without any minimum order value.

                Note that prices and offers on the Uber Eats website and in the Uber Eats app may differ from prices and offers in the restaurant.</p>
                <p>Uber Eats is available 24x7 on all seven days a week depending on the availability of the restaurant.
                  Uber Eats is an e- commerce platform that offers meal delivery to partner restaurants. The partner restaurants are selected by the platform that manages the Uber Eats service. The cost of the service is billed to the end customer 2.5 €  Per delivery. In addition, the platform takes a commission of 30% on average on the invoice generated by the partner restaurant.

                  Uber offers special promotions to provide discounts on food to Eaters. If you have added multiple promo codes to your account, you'll be unable to select your preferred promo code from your account. Instead, your most recently added promo code will be applied to your current or next order. For example, if you added a valid code on Tuesday and another code on Wednesday, your next order will use the code you added on Wednesday. A promo code's value will only apply to one order. Any remaining amount disappears.
                </p>
                <p>UberEATS is also seamlessly integrated with the Uber ride app so that a rider can choose to order a meal during a ride. Speaking to YourStory, Bhavik says,

                  “Mumbai is the best learning ground for UberEATS and to understand the delivery business in India. We have already partnered with over 200 restaurants in Mumbai.”
                  
                  In India, the team claims to deliver convenience, reliability, and a wide selection. Two years after expanding and launching across different parts of the globe, Uber is bullish about the Indian market. And rightly so. According to IBEF, the market is pegged at $50 billion.
                </p>
                <p>They worked to ensure one thing – quick and cheap delivery. Once the ride-hailing business started understanding the emotional business of food ordering, they launched a separate app, got trained drivers to deliver the food, and ensured that the price bands were tightly fixed.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <center><h1>Image Gallery</h1></center>
  <div class="gallery">
    <a href="img/1.jpg" data-lightbox="mygllery"><img src="img/1.jpg"></a> 
    <a href="img/2.png" data-lightbox="mygllery"><img src="img/2.png"></a>
    <a href="img/3.jpg" data-lightbox="mygllery"><img src="img/3.jpg"></a>
    <a href="img/4.jpg" data-lightbox="mygllery"><img src="img/4.jpg"></a>
    <a href="img/5.jpg" data-lightbox="mygllery"><img src="img/5.jpg"></a>
    <a href="img/6.jpg" data-lightbox="mygllery"><img src="img/6.jpg"></a>
    <a href="img/7.jpg" data-lightbox="mygllery"><img src="img/7.jpg"></a>
    <a href="img/8.jpg" data-lightbox="mygllery"><img src="img/8.jpg"></a>
    <a href="img/9.jpg" data-lightbox="mygllery"><img src="img/9.jpg"></a>
    <a href="img/10.jpg" data-lightbox="mygllery"><img src="img/10.jpg"></a>
    <a href="img/11.jpg" data-lightbox="mygllery"><img src="img/11.jpg"></a>
    <a href="img/12.jpg" data-lightbox="mygllery"><img src="img/12.jpg"></a>


    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; UberEatsKerala</p>
      </div>
    </footer>

    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
