<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UberEats | Home</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png">
          UberEats <span class="navbar-kerala">Kerala</span> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search Location..">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search...</button>
          </form>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Find Food</h1>
          <h2 class="masthead-subheading mb-0">Delicious eats, delivered easy</h2>
          <a href="https://www.ubereats.com/en-GB/leeds/food-delivery/adukkala-%40-kerala/geVXaq62Snq8WcRDdBh82w/" class="btn btn-primary btn-services rounded-btn mt-5">Order Now</a>
        </div>
      </div>
    </header>

    <section id="foothead">
        <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="p-5">
                    <h2>Find food you love from local restaurants and chain favourites.</h2>
                  </div>
                </div>
            <div class="col-lg-6">
                <form action="" method="GET">
                    <input type="email" class="input-email" placeholder="Enter Email">
                    <button type="submit" class="btn btn-primary btn-services rounded-btn">Submit</button>
                </form>
            </div>
          </div>
        </div>
  </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="img/Delviery.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Deliver the Eats</h2>
              <p>Deliver with Uber  and earn on your schedule. Depending on your city, you could deliver with your car, bike or scooter.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="img/iot.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Your restaurant, delivered</h2>
              <p>Partner with Uber Eats for a new way to make money, reach new diners and deliver food to your customers.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="img/R.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h1 class="display-4">The fast way to get food to your customers</h1>
              <br><br>
              <h2>Do more business</h2>
              <p>Uber Eats makes a real impact on your business. When your food is featured in the app, new customers can discover it and loyal customers can enjoy it more often. We’ve seen restaurants increase sales, lower marketing costs, and hire new employees to capitalize on Uber Eats demand.</p>
              <br><br>
              <h2>Deliver faster</h2>
              <p>Uber Eats is the fast way to get food to your customers. With hundreds of delivery partners on the road, you can deliver in an average of 15 minutes and maintain the best possible food quality. You can also track orders from the floor, right to a customer’s door.</p>
              <br><br>
              <h2>Partner with professionals</h2>
              <p>When you partner with Uber Eats, we’re in the weeds with you. We’ll get you set up, promote your menu, and work with you to improve pickup and delivery times. We’ll continue to test and learn together to boost volume, keep operations smooth, and impress your customers.</p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
		
        <h1>How it Works</h1>
        <br>
        <div class="row bs-wizard" style="border-bottom:0;">
          
            <div class="col-xs-3 bs-wizard-step complete">
              <div class="text-center bs-wizard-stepnum"><h2>Step 1</h2></div>
             
              <div class="progress"><div class="progress-bar"></div></div>
              <h3><center>Log in</center> </h3>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Get on the road and log in to the Uber Partner app to begin accepting delivery requests.

              </div>
            </div>
            <br>
            <br>
            
            <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
              <div class="text-center bs-wizard-stepnum"><h2>Step 2</h2></div>
              <div class="progress"><div class="progress-bar"></div></div>
              <h3><center>Pick up.Drop off</center> </h3>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">  <br>Navigation and information is provided in the app to help deliveries run smoothly</div>
            </div>
            <br>
            <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
              <div class="text-center bs-wizard-stepnum"><h2>Step 3</h2></div>
              <div class="progress"><div class="progress-bar"></div></div>
              <h3><center>Earn Money</center> </h3>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">    Track your earnings and get paid weekly</div>
            </div>
            
           
        </div>
    
    </section>
    
      <div class="continer">
        <img src="img/get.jpg"></a> 
      </div>
    
    
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; UberEatsKerala</p>
      </div>
    </footer>

    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
